@use "./global";
@use "./mixins" as *;
@use "./colours" as *;

.card {
	$cardHeight: 200px;
	a {
		@include d-block;
		text-decoration: none;
		padding-top: 20%;
	}
	&__inner {
		@include col;

		width: 300px;
		margin: 1rem;
		padding: 1rem;
		background: $off-white;
		border-radius: 2rem;
		color: $black;
		justify-content: space-between;
		box-shadow: 0px 5px 10px -10px #000;
	}
	.row {
		justify-content: space-between;
		align-items: center;
	}
	&__number {
		font-family: "Times New Roman", Times, serif;
		font-size: 1rem;
		vertical-align: super;
		z-index: 1;
		color: white;
	}
	& &__favourite {
		@include favourite();
		font-size: 1.5rem;
	}
	&__img-container {
		height: $cardHeight;
		margin: auto;
		margin-top: -50%;

		#sinistcha & {
			width: 65%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	img {
		max-height: 100%;
		z-index: 1;
		position: relative;
		filter: drop-shadow(0px 1px 1px #0000005c);
	}
	&#sinistcha img {
		width: 100%;
	}

	.semi-circle {
		clip-path: circle(65% at 50% -22%);
		width: 300px;
		height: 100%;
		border-radius: 2rem;
		position: absolute;
		margin-top: -16px;
		margin-left: -15px;
		z-index: 0;
	}
	&__name {
		font-size: 2rem;
		margin-top: 3rem;
	}

	&__pokemon-types {
		@include pokemon-types();
	}
}
