@use "./colours" as *;

@mixin row($wrap: "true") {
	display: flex;

	@if $wrap == "true" {
		flex-flow: row wrap;
	} @else {
		flex-flow: row;
	}
}
@mixin col {
	display: flex;
	flex-flow: column;
}
@mixin font-size($size) {
	font-size: $size;
}
@mixin justify-content-center {
	justify-content: center;
}
@mixin d-block {
	display: block;
}

@mixin pokemon-types {
	@include row($wrap: "false");
	gap: 0.5rem;
	margin-top: 20px;

	&__item {
		display: flex;
		@include justify-content-center;
		border-radius: 2rem;
		width: 50%;
		height: 30px;
		padding: 0.5rem;
		color: white;
		align-items: center;
		gap: 10px;

		svg {
			height: 16px;
		}
	}
}
@mixin favourite {
	z-index: 1;

	.fa-star {
		color: $off-white;
		&.fa-solid {
			color: $star;
			filter: drop-shadow(0px 1px 1px #0000005c);
		}
	}
}
